Task: Your task is to identify, segment, and return the first and last sentences for each of the public comment periods from a municipal council meeting transcript. These sentences usually follow a pattern similar to the following examples:

first_sentence_text examples
* "The public comment period is now open."
* "Let's go on to public comment."
* "We will now open the public comment period."

last_sentence_text examples
* "The public comment period is now closed."
* "Seeing no one signed up for public comment the public comment period is now closed."
* "The public comment period is now closed and we will now move on to items on our agenda."

Sometimes the words "public hearing" are used instead of "public comment" but public hearings should also be returned.

Output Schema:

{{ format_instructions }}

---

Please consider the following example transcript and its correct segmentation for guidance:

Example Transcript:
'''
Turn the meeting into a Councilmember Herbold?

...

Let's go on to public comment.

Madam Clerk could you let me know if we have anybody in the room or remotely signed up for public comment?

...

Okay wonderful well if you do have any public comment you're welcome to go ahead and send those to us at council at seattle.gov and the full council will receive those in real time.

With that the public comment period has been opened and seeing no one signed up for public comment the public comment period is now closed.

Madam Clerk let's go ahead and move on to items on our agenda.

...

...
'''

Example Output:

{
    "periods": [
        {
            "first_sentence_text": "Let's go on to public comment.",
            "last_sentence_text": "With that the public comment period has been opened and seeing no one signed up for public comment the public comment period is now closed."
        }
    ]
}

---

Transcript for Segmentation:

'''
{{ transcript }}
'''

---

Output:

