Task: Your task is to identify, segment, and return the first and last sentences for each of the public comment periods from a municipal council meeting transcript. Note that each individual sentence should be processed and considered separately, regardless of the speaker.

{{ format_instructions }}

---

Please consider the following example transcript and its correct segmentation for guidance:

Example Transcript:
'''
Turn the meeting into a Councilmember Herbold?

...

Let's go on to public comment.

Madam Clerk could you let me know if we have anybody in the room or remotely signed up for public comment?

...

Okay wonderful well if you do have any public comment you're welcome to go ahead and send those to us at council at seattle.gov and the full council will receive those in real time.

With that the public comment period has been opened and seeing no one signed up for public comment the public comment period is now closed.

Madam Clerk let's go ahead and move on to items on our agenda.

...

...
'''

Example Output:

{
    "periods": [
        {
            "first_sentence_text": "Let's go on to public comment.",
            "last_sentence_text": "With that the public comment period has been opened and seeing no one signed up for public comment the public comment period is now closed."
        }
    ]
}

---

Transcript for Segmentation:

'''
{{ transcript }}
'''

---

Output:

