Transcript:

{{ transcript }}

---

Task: Identify and segment the municipal council meeting transcript into it's sections.

The section labels must be one of:
{{ section_labels }}

Only include sections that would be labelled with a value in the prior list of section labels.

---

{{ format_instructions }}